@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #FFE7D1;
    max-width: 1200px;
    padding-top: 15px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}
.logo{
    width: 150px;
}
.nav{
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav:hover{
    color: #ED4D1B;
    transition: 0.3s;
    text-decoration: underline;
}
.button{
    text-decoration: none;
    color: black;
    background-color: #ED4D1B;
    border: 2px solid;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 30px;
    box-shadow: black 4px 4px;
    height: 48px;
}
.principal{
    display: flex;
    margin-bottom: 100px;
}
h1{
    font-size: 64px;
    font-weight: 900;
    line-height: 67.2px;
}
p{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    margin-bottom: 60px;
}
span{
    color: #ED4D1B;
}
.img1{
    width: 842px;
}
.cards{
    display: flex;
}
article{
    border: 2px solid;
    width: 300px;
    margin: 10px;
    padding: 20px;
    box-shadow: black 4px 4px;
}
.card1{
    background-color: #ED4D1B;
    margin-bottom: 30px;
}
.card2{
    background-color: #FF9A3C;
    margin-top: 30px;
}
strong{
    font-size: 24px;
    font-weight: 900;
}
.cards p{
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}
h2{
    font-size: 64px;
    font-weight: 900;
    text-align: center;
}
.conhecer{
    margin: 150px;
}
.b1{
    text-align: center;
}
.button2{
    text-decoration: none;
    color: black;
    background-color: #ED4D1B;
    border: 2px solid;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 30px;
    box-shadow: black 4px 4px;
}
footer{
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.footer1{
    display: flex;
    flex-direction: column;
}
.footer1 img{
    width: 130px;
}
.footer1 p{
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    max-width: 272px;
}
footer nav{
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}
footer a:hover{
    color: #ED4D1B;
    transition: 0.2s;
    text-decoration: underline;
}
form{
    display: flex;
    flex-direction: column;
}
form label{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
form input{
    height: 48px;
    border: 2px solid;
    box-shadow: black 4px 4px;
    width: 560px;
    font-size: 18px;
}
.button3{
    text-decoration: none;
    color: black;
    background-color: #ED4D1B;
    border: 2px solid;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 30px;
    box-shadow: black 4px 4px;
    margin-top: 30px;
    width: 225px;
}

/* ----------- MEDIA QUERIES ----------- */
@media screen and (max-width: 300px) {
    h1, h2 {
        font-size: 40px;
        line-height: 35px;
        text-align: center;
    }

    .logo{
        margin-left: 15px;
    }

    .button{
        margin-right: 15px;
    }

    header nav {
        width: 200px;
    }

    .img1 {
        width: 500px;
        margin-left: 40px;
        margin-top: 25px;
    }

    p, .cards p {
        font-size: 18px;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card1, .card2{
        width: 550px;
        margin-top: 0px;
    }

    .card1 {
        margin-bottom: 10px;
    }

    .nav {
        margin-left: 20px;
        font-size: 18px;
   }

    .principal {
        flex-direction: column;
        text-align: center;
    }

    .conhecer {
        margin: 80px 10px;
    }

    form input {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer nav {
        margin-left: 20px;
        align-items: center;
    }

    .button3 {
        margin-bottom: 20px;
    }

    .baixo{
        display: flex;
    }
}
